@import "variables.less";

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.poke {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: @background;
}
