@import "variables.less";

* {
  font-family: 'Roboto', Helvetica, sans-serif, serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  max-width: @container;
  margin: auto;
  width: 100%;
}

.poke {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
  background: @background;
}

.poke-img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}
