@import "./variables.less";

.header {
  // position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
  background-color: @primary;
  color: @base;
  font-size: 18px;
  text-transform: uppercase;
  border-bottom: 1px solid darken(@primary, 15%);
  padding: 0;

  .wrapper {
    padding: 15px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search {
    display: flex;
    border-bottom: 1px solid transparent;

    &.show {
      border-color: @base;

      .search-box {
        max-width: 150px;
        transition: max-width 200ms;
      }
    }
  }

  .search-icon {
    transform: rotate(315deg);
    font-size: 20px;
    display: block;
    margin-left: 10px;
    padding: 0 10px;
  }

  .search-box {
    background: transparent;
    border: none;
    flex: 1 1 100%;
    color: @base;
    text-align: right;
    max-width: 0;
    font-size: inherit;
    overflow: hidden;
    outline: none;
    transition: max-width 200ms;

    &::selection {
      color: @base;
    }
  }

  .logo {
    margin-right: 20px;
  }
}

.animation-box {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 10px;
  height: @pokeball-small;
  width: @pokeball-small;
  transform: translate(0,0);
  background: @primary;
  animation: shift @pokeball-animation-duration;
  border-radius: 50%;
  z-index: 1000;
}

.animation-image {
  height: @pokeball-small;
  width: @pokeball-small;
  animation: shrink @pokeball-animation-duration;
}

@keyframes shift {
  0%, 30% {
    top: 50vh;
    left: 50vw;
    height: 100vw;
    min-height: 100vh;
    width: 100vh;
    min-width: 100vw;
    border-radius: 0;
    transform: translate(-50%, -50%);
  }
  70% {
    top: 50vh;
    left: 50vw;
    height: @pokeball-big;
    min-height: @pokeball-big;
    width: @pokeball-big;
    min-width: @pokeball-big;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 10px;
    left: 10px;
    height: @pokeball-small;
    width: @pokeball-small;
    transform: translate(0,0);
  }
}

@keyframes shrink {
  0%, 30% {
    height: @pokeball-big;
    width: @pokeball-big;
    opacity: 0;
  }
  70% {
    height: @pokeball-big;
    width: @pokeball-big;
    opacity: 1;
  }
  100% {
    height: @pokeball-small;
    width: @pokeball-small;
    opacity: 1;
  }
}
