@import "./variables.less";

.pokemon-details-wrapper {
  position: fixed;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100vw;
  padding-top: 50px;
  transition-delay: 300ms;
  z-index: 1000;

  &.show {
    top: 0;
    height: 100%;
    transition-delay: 0ms;

    .overlay {
      opacity: 1;
      transition: 300ms;
    }
  }

  .pokemon-details {
    position: absolute;
    top: 100%;
    height: 100vh;
    width: 100%;
    background-color: @base;
    overflow: auto;
    transition: 300ms ease-in-out;

    &.show {
      top: 0;
      transition: 300ms ease-in-out;
    }
  }

  .close-button {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    .cross {
      margin-left: 5px;
    }
  }

  .poke-img {
    width: 152px;
    height: 152px;
    flex: 0 0 152px;
  }

  .details-header {
    padding: 15px;
    box-shadow: 0 1px 2px fade(@alternate, 40%);
    z-index: 2;
    margin: 0;

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .pokemon-name {
    padding: 0 10px;
    font-weight: 900;
    font-size: 16px;
    color: @base;
    text-transform: uppercase;
  }

  .pokemon-important-info {
    display: flex;
  }

  .pokemon-details-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: @container;
    margin: auto;
  }

  .stats {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
  }

  .poke-id {
    font-size: 18px;
    font-weight: bold;
  }

  .types {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .type {
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-right: 5px;
    color: @base;
  }

  .stats-group {
    flex: 1 0 100%;
    margin-top: 10px;
  }

  .attributes {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .sub-header {
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: @base;
    flex: 0 0 100%;
  }

  .detial-group {
    display: flex;
    padding: 0 10px;
    margin: 10px 0 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    flex: 1 0 100%;

    dt:after {
      content: " :";
    }

    dd {
      margin-left: 15px;
    }
  }

  .pokemon-description {
    padding: 0 10px;
  }

  .moves-container {
    padding: 10px;
  }

  .moves {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
  }

  .move {
    flex: 1 0 100%;
    padding: 2px 5px;
    border: none;
    margin: 0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background: inherit;

    &.expanded {
      margin-bottom: 5px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
  }

  .move-header {
    display: flex;
    align-items: center;
    height: 25px;
    justify-content: space-between;
  }

  .move-icon {
    font-size: 8px;
    transition: 200ms;
    margin-left: 10px;
    &.expanded {
      transform: rotate(90deg);
      transition: 200ms;
    }
  }

  .move-title {
    flex: 1;
  }

  .move-type {
    width: 100px;
    color: white;
    padding: 5px 10px;
    text-align: center;
  }

  .move-description {
    margin: 5px 0 0;
    padding: 10px;
    font-weight: normal;
    text-transform: initial;
    font-size: 14px;
  }

  .minor-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;

    label {
      font-weight: bold;
      margin-right: 5px;
    }
  }
}


.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: 300ms;
}
